@model mypharmacy.Models.mysingle
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Pharmacylayout.cshtml";
}

<div class="product-easy">
    <div class="container">

        <div class="col-md-3 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="/UplodedImages/@Model.image" alt="" class="pro-image-front">
                    <img src="/UplodedImages/@Model.image" alt="" class="pro-image-back">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="~/Single/QuickView/@Model.pid" class="link-product-add-cart">Quick View</a>
                        </div>
                    </div>
                    <span class="product-new-top">New</span>

                </div>
                <div class="item-info-product ">
                    <h4><a href="single.html">@Model.name</a></h4>
                    <div class="info-product-price">
                        <span class="item_price">@Model.price</span>
                        <del>$69.71</del>
                    </div>
                    <a href="~/Checkout/getCart/@Model.pid" class="item_add single-item hvr-outline-out button2">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
 </div>
