
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Pharmacylayout.cshtml";
}

                                   <h2><span>Thanyou</span>FOr Your Order....Hope To See You Again</h2>
                              <h1><span>Smart  Pharmacy</span></h1>

